<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nextendo Network</title>
    <link rel="stylesheet" href="/css/home.css"> 
</head>
<header>
    <a class="title" href="/">Nextendo Network</a>
    <nav>
        <a href="/">Home</a>
        <a href="/progress">Progress</a>
    </nav>
</header>